* {
    font-family: Roboto, sans;
    padding: 0px;
    margin: 0px;
}

.header,
.hero,
footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 250px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

.header h4 {
    font-weight: 900;
    color: #F9FAF8;
    font-size: 24px;
}

ul.nav {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav li {
    font-size: 18px;
    color: #E5E7EB;
}