* {
    font-family: Roboto, sans;
    padding: 0px;
    margin: 0px;
}

.header,
.hero,
footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 300px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

.header h4 {
    font-weight: 900;
    color: #F9FAF8;
    font-size: 24px;
}

ul.nav {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav li {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    box-sizing: border-box;
    padding: 250px 300px;
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.words h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 500px;
}

.words p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
    width: 500px;
}

#button-one {
    font-size: 18px;
    color:#F9FAF8;
    font-weight: 900;
    background-color: #3882F6;
    padding: 7px 30px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 150px;
    text-align: center;
}

h5.img {
    background-color: #70747a;
    text-align: center;
    box-sizing: border-box;
    width: 600px;
    height: 300px;
    line-height: 300px;
    color:#F9FAF8;
}

.white-page {
    padding: 50px 450px 150px 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-page h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.white-page .content {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    box-sizing: border-box;
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.item p {
    font-size: 18px;
    color:#1F2937;
    text-align: center;
    width: 200px;
    margin-top: 15px;
}

.quote {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 150px 300px;
    justify-content: center;
}

.quote h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote h4 {
    font-size: 24px;
    color:#1F2937;
    font-weight: 900;
    text-align: right;
    padding-right: 20px;
}

.call-to-action {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action .content {
    width: 1400px;
    height: 150px;
    background-color:#3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 150px;
    box-sizing: border-box;
}

.words {
    width: 600px;
}

.words h4 {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.words p {
    width: 100%;
    color:#E5E7EB;
}

#button-two {
    color:#F9FAF8;
    font-size: 18px;
    font-weight: 900;
    box-sizing: border-box;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    padding: 5px 40px;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h5 {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 300;
}